@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(138, 123, 123);
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    margin-top: 20px;
    
  
    
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
   
}

#menu,
#logo {
    line-height: 50px;
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #0a0a0a;
    padding-left: 10px;
    

}

#hero-image {

    background: url('../images/Spices.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}


/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0a0a0a;
    width: 600px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(162, 210, 238, 0.7);

    bottom: 30px;
    right: 150px;
    position: absolute;
    text-align: center;
    margin-top: 30px;

}

#about-us {
    height: 300px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 30px;
    border-bottom: #f16c6b;
    margin-left: 30px;
    text-align: center;




}

#about-text {
    float: left;
    text-align: left;
    line-height: 20px;
    margin-top: 30px;
    margin-left: 30px;

}

footer {
    height: 100px;
}

.find-us {

    background-color: #2c3031;
    font-family: Quicksand, sans-serif;
    color: #ffffff;
    text-align: center;
  

}

.find-us h2 {
    font-weight: bold;
}

.find-us-contents {
   
    margin-left: 500px;
    text-align: center;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;

}

#circle-cover-bg {
    background: url("../images/01.jpg") no-repeat center center;
    height: 100%;
    border-radius: 70%;

}


.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


.contact-us-container {
	width: 80%;
	margin: 50px auto;
}
.contact-box {
	background: #fff;
	display: flex;
}
		
.contact-left	{
    flex-basis: 60%	;
	padding: 40px 60px;
}
.contact-right	{
    flex-basis: 40%	;
	padding: 40px;
	background: #1c00b5;
	color: #fff;
}
h1 {
	margin-bottom: 10px;
}
	.contact-us-container p {
		margin-bottom: 40px;
	}
	.input-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		
	}
	
	.input-row .input-group {
		flex-basis: 45%;
		
	}
	input {
		width:100%;
		border: none;
		border-bottom: 1px solid #ccc;
		outline: none;
		padding-bottom: 5px;
	}
	textarea { 
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box; 
	
	}
	label {
		margin-bottom: 6px;
		display: block;
		color: blue;
		
	}
	button {
		background:blue;
		width: 100px;
		border: none;
		outline: none;
		color: white;
		height: 35px;
		border-radius: 30px;
		margin-top: 20px;
		box-shadow:0px 5px 15px 0px rgba(28,0,181,0.3);
	}
	.contact-left h3 {
		color: #1c00b5;
		font-weight: 600;
		margin-bottom: 30px;
	}
	.contact-right h3 {
		
		font-weight: 600;
		margin-bottom: 30px;
	}
	tr td:first-child {
		padding-right: 10px;
	}
	tr td:first-child {
		padding-top: 10px;
	}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.menu {
    font-family: Qiicksand, sans-serif;
    font-size: 14px;
    

}
.menu-group-heading {
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid #ccc;
    padding-top: 3em;
}
.menu-group-heading-menus {
    margin: 0;
}
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    
}
.menu-item {
    display: flex;
}
.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
.menu-item-text {
    flex-grow: 1;
}
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item-name {
   margin-right: 1.5em;
}
.menu-item-description {
    line-height: 1.6;
}




@media screen and (max-width:992px) {
   

    .menu-item-image {
        width: 80px;
        height: 80px;
    }
    .menu {
        font-family: sans-serif;
        font-size: 16px;
    }
    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        width: 125px;
        height: 125px;
    }
    #menu {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
    }
    
    #cover-text {
        width: auto;
        height: auto;
        margin-left: 30px;
        clear: both;
    
    }
    
    #about-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    
    }
    